.html5 {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  border: 3px;
}

.css {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.typescript {
  display: inline-block;
  margin-left: 20px;
  margin-top: 50px;
}

.react {
  display: inline-block;
  margin-left: 20px;
  margin-top: 50px;
}
